@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

/* FOOTER FLEX */

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    flex: 1;
}

/* row for display and rows (numbers, operators) */
.row-display,
.row {
    gap: 16px;
}

/* changed the color of the font for most of the buttons and the container */
.container,
button {
    color: #ededed;
    font-size: 25px;
}

.container {
    background-color: #010101;
    /* overflow set to hidden and height set to auto fixes the overflow issue */
    overflow: hidden;
    height: auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 25px;
    box-shadow: 1px 2px 5px black;
}

/* space between the content of the calculator and the background */
.num-pad,
.row-display {
    margin: 20px;
}

/* flex for the display which shows the most recently entered number */
.row-display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    word-break: break-all; /* text breaks onto the next line */
    margin-top: 100px;
}

/* flexes the log and display so they are stacked vertically on one another */
.stack {
    display: flex;
    flex-direction: column;
}

/* CSS FOR LOG AND DISPLAY */
.log {
    font-size: 20px;
    opacity: 50%;
}

.display {
    font-size: 30px;
}

/* flex for the container storing the rows with buttons */
.num-pad,
.row {
    display: flex;
}

.num-pad {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* CSS FOR THE BUTTONS (NUMBERS, OPERATORS) */
button {
    background-color: #161616;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    font-size: 21px;
    filter: brightness(150%);
}

/* centers the calculator */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* COLORS */
.all-clear,
.delete {
    color: #df7d44;
}

.percent,
.operators {
    color: #3d9fd7;
}

.equals {
    background-color: #074c85;
}