@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* FOOTER FLEX */

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    flex: 1;
}

/* Spacing - row for display and rows (numbers, operators) */
.row-display,
.row {
    gap: 16px;
}

/* Changed the color of the font for most of the buttons and the container */
.container,
button {
    color: #fffeff;
    font-size: 25px;
}

.container {
    background-color: #010101;
    /* Overflow set to hidden and height set to auto fixes the overflow issue */
    overflow: hidden;
    height: auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 25px;
    box-shadow: 1px 2px 5px black;
}

/* Space between the content of the calculator and the background */
.num-pad,
.row-display {
    margin: 20px;
}

/* Flex for the display which shows the most recently entered number */
.row-display {
    display: flex;
    flex-direction: column;
    word-break: break-all; /* Text breaks onto the next line */
    border-radius: 5px;
    padding: 20px;
}

/* Flexes the log and display so they are stacked vertically on one another */
.stack {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* CSS FOR LOG AND DISPLAY */
.log {
    font-size: 20px;
    opacity: 55%;
}

.display {
    font-size: 30px;
}

/* Flex for the container storing the rows with buttons */
.num-pad,
.row {
    display: flex;
}

.num-pad {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* CSS FOR THE BUTTONS (NUMBERS, OPERATORS) */
button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.button-pressed,
button:active {
    filter: brightness(200%);
}

button:active > .button-text,
.button-pressed > .button-text {
    transform: scale(0.84);
}

.operators,
.percent,
.negate,
.equals,
.all-clear,
.decimal {
    font-weight: bold;
}

/* Centers the calculator */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

/* COLORS */
button, 
.row-display {
    background-color: #161616;
}

.all-clear {
    color: #6fccdd;
}

.backspace-filter {
    filter: invert(97%) sepia(7%) saturate(7499%) hue-rotate(161deg) brightness(91%) contrast(89%);
}

.percent,
.operators {
    color: #fa7c2e;
}

.equals {
    background-color: #f16533;
}